:root {
    --body-background: #0e0e0e;
    --card-color: #252525;
    --subtitle-color: #5a5757;
    --color-input: #0D0D0D;

    --color-destaque: #ff5b50;
    --color-white: #fff;
    --color-black: #000;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
    background-color: var(--body-background);
    color: var(--color-white);
}

body * {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.destaque {
  color: var(--color-destaque);
}
/* ==================== HEADER NAVEGAÇÃO ==================== */
header {
  background: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-principal {
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.menu-principal ul {
  display: flex;
  gap: 60px;
}

.menu-principal li a {
  color: var(--color-white);
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: all .6s ease-in;
}

.menu-principal li a:hover {
  border-color: var(--color-white);
}

.btn-menu {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 6px 12px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
}

.btn-menu span {
  transition: all .3s;
}

.btn-menu:hover span {
  color: var(--color-destaque);
}

.btn-menu:hover {
  transform: scale(1.01);
}

/* ============== HEADER TEXTOS =================== */
.header-info {
  margin: 30px 0 100px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-artistas > p {
  max-width: 55ch;
  font-size: 18px;
  line-height: 22px;
}

.header-artistas-images {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-top: 55px;
}

.header-artistas-images > div {
  display: flex;
}

.header-artistas-images > div .img1 {
  z-index: 5;
  
}
.header-artistas-images > div .img2 {
  margin-left: -75px;
  z-index: 4;
}
.header-artistas-images > div .img3 {
  margin-left: -70px;
  z-index: 3;
}
.header-artistas-images > div .img4 {
  margin-left: -75px;
  z-index: 2;
}

.header-artistas-images > div > p span {
  font-size: 18px;
  font-weight: 700;
}

.header-info h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}

.header-info .destaque {
  color: var(--color-destaque);
}

.header-imagens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px 15px;
}

.header-imagens img {
  display: block;
  max-width: 100%;
  border: 1px solid white;
}

/* ===================== RESPONSIVO HEADER  =================================== */
@media (max-width: 1100px) {
  header {
    padding: 0px 40px;
  }
}

@media (max-width: 980px) {
  .menu-principal {
    justify-content: center;
    gap: 20px 40px;
  }
  .header-info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-info h1 {
    font-size: 38px;
    margin: 0 auto;
  }
  .header-imagens {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 40px;
  }
}

@media (max-width: 650px) {
  .header-imagens {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 375px) {
  .header-imagens {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* ====================== main ============================== */
.descritivo {
  display: grid;
  grid-template-columns: 280px 1fr 1fr;
  grid-template-rows: 1fr auto;
  margin-bottom: 150px;
}

.dados {
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 120px 60px;
  border-bottom: 1px solid #5a5757;
  border-right: 1px solid #5a5757;
}

.dados li {
  color: var(--subtitle-color);
  font-size: 20px;
  font-weight: 600;
}

.dados li + li {
  margin-top: 70px;
}

.dados li p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dados span {
  color: var(--color-white);
  font-size: 50px;
}

.texto {
  grid-column: 2/4;
  padding: 70px;
  display: flex;
  gap: 120px;
  font-size: 18px;
  line-height: 20px;
}

.texto > div a {
  display: inline-block;
  margin-top: 60px;
  color: var(--color-white);
  text-decoration: underline;
  transition: color .4s ease-in;
  padding: 6px;
  border: 1px solid transparent;
}

.texto > div a:hover {
  color: var(--color-destaque);
  border-color: var(--color-destaque);
  text-decoration: none;
}

.foto-larga {
  grid-column: 2/4;
}
